/*
 * Global
 * ------
 */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  font-size: 0.9em;
}
a {
  color: #f39200;
}
header.main,
section.content.main,
footer.main {
  width: 900px;
  margin: 0 auto;
}
/*
 * Mixins
 * ------
 */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * Header
 * ------
 */
header.main {
  margin-top: 40px;
  font-family: Cambria, Georgia, serif;
}
header.main .logo {
  display: inline-block;
  height: 130px;
  margin: 0px;
}
header.main .logo a {
  display: inline-block;
  width: 160px;
  height: 130px;
  color: transparent;
  background: url(../images/logo.png) no-repeat;
  text-ident: -1000px;
}
header.main .tagline {
  display: inline-block;
  width: 500px;
  margin: 0px 0px 0px 50px;
  vertical-align: bottom;
  font-size: 1.65em;
  color: #f39200;
}
header.main nav.main {
  margin: 40px 0px;
}
header.main nav.main > ul {
  zoom: 1;
  margin: 0px;
  padding: 0px;
  position: relative;
}
header.main nav.main > ul:before,
header.main nav.main > ul:after {
  content: "";
  display: table;
}
header.main nav.main > ul:after {
  clear: both;
}
header.main nav.main > ul > li {
  display: block;
  float: left;
  width: 20%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
header.main nav.main > ul > li.hidden {
  display: none;
}
header.main nav.main > ul > li ul.submenu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 9999;
  list-style: none;
  background: #fee6c8;
}
header.main nav.main > ul > li ul.submenu > li {
  margin: 0px;
  padding: 0px;
}
header.main nav.main > ul > li ul.submenu > li.hidden {
  display: none;
}
header.main nav.main > ul > li ul.submenu > li:first-child {
  margin: 10px 0px 0px;
}
header.main nav.main > ul > li ul.submenu > li:last-child {
  margin: 0px 0px 10px;
}
header.main nav.main > ul > li ul.submenu > li > a {
  padding: 4px 12px;
  font-size: 0.75em;
  line-height: 1.1em;
}
header.main nav.main > ul > li ul.submenu > li > a:hover {
  color: #f39200;
  background: #fff0e3;
}
header.main nav.main > ul > li:hover > ul.submenu {
  height: auto;
}
header.main nav.main > ul > li:hover > a {
  border-top: 3px solid #f39200;
  color: black;
  background: #fee6c8;
}
header.main nav.main > ul > li a {
  display: block;
  color: #505050;
  text-decoration: none;
  font-weight: bold;
}
header.main nav.main > ul > li > a {
  padding: 10px;
  border-top: 3px solid #ddd;
}
header.main nav.main > ul > li > a:hover,
header.main nav.main > ul > li > a.active {
  border-top: 3px solid #f39200;
  color: black;
  background: #fee6c8;
}
header.main nav.main .submenu {
  height: 0px;
  overflow: hidden;
}
/*
 * Footer
 * ------
 */
footer.main {
  border-top: solid 1px #aaa;
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 0.9em;
  font-family: Cambria, Georgia, serif;
}
footer.main,
footer.main a {
  color: #505050;
}
footer.main > div {
  vertical-align: top;
}
footer.main .contact {
  display: inline-block;
  width: 280px;
}
footer.main .contact .address {
  display: block;
  margin: 0px 0px 15px;
  padding-left: 20px;
  background: url(../images/icons/address.png) no-repeat;
}
footer.main .contact .phone {
  display: inline-block;
  min-height: 20px;
  padding-left: 20px;
  background: url(../images/icons/phone.png) no-repeat 2px;
}
footer.main .contact .email {
  display: inline-block;
  min-height: 20px;
  margin-left: 8px;
  padding-left: 20px;
  background: url(../images/icons/email.png) no-repeat 0px;
}
footer.main .supporters {
  display: inline-block;
  width: 500px;
}
footer.main .supporters a {
  text-decoration: none;
}
footer.main .supporters a img {
  border: none;
}
footer.main .supporters h1 {
  margin: 0px 0px 15px;
  font-size: 1em;
}
footer.main .supporters ul,
footer.main .supporters ul li {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer.main .supporters ul .instituto-cea {
  margin-left: 30px;
}
footer.main .supporters ul .acesso-informacao {
  margin-left: 150px;
}
/*
 * Slidesshow
 * ----------
 */
.flexslider {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
.flexslider ul.slides blockquote {
  margin: 0px;
}
.flexslider ul.slides img {
  width: auto;
  float: left;
  margin-right: 20px;
}
/* Direction Nav */
.flex-direction-nav a {
  width: 32px;
  height: 54px;
  margin: -20px 0 0;
}
.flex-direction-nav .flex-next {
  background: url(../images/slides/next.png);
  right: 270px;
}
.flex-direction-nav .flex-next:hover {
  background: url(../images/slides/next-hover.png);
}
.flex-direction-nav .flex-prev {
  background: url(../images/slides/prev.png);
  left: -36px;
}
.flex-direction-nav .flex-prev:hover {
  background: url(../images/slides/prev-hover.png);
}
.flexslider:hover .flex-next {
  opacity: 1;
  right: 311px;
}
.flexslider:hover .flex-prev {
  opacity: 1;
  left: 5px;
}
/*
 * Pages
 * -----
 */
section.main.content {
  zoom: 1;
  /*
     * Sobre
     * -----
     */

  /*
     * Generic list
     * ------------
     */

  /*
     * Sobre > Valores e principios
     * ----------------------------
     */

  /*
     * Sobre > Equipe
     * --------------
     */

  /*
     * Sobre > Histórico
     * -----------------
     */

  /*
     * Parcerias > Parceiros financeiros
     * ---------------------------------
     */

  /*
     * Parcerias > Parceiros de divulgacao
     * -----------------------------------
     */

  /*
     * Parcerias > Parceiros tecnicos
     * ------------------------------
     */

  /*
     * Metodologia > Cenario
     * ---------------------
     */

  /*
     * Metodologia > Objetivo
     * ----------------------
     */

  /*
     * Colabore > Doações
     * ------------------
     */

}
section.main.content:before,
section.main.content:after {
  content: "";
  display: table;
}
section.main.content:after {
  clear: both;
}
section.main.content#sobre > p.content {
  margin-bottom: 70px;
}
section.main.content#sobre img.visao {
  float: right;
  margin: 0px 25px;
}
section.main.content#sobre img.missao {
  float: left;
  margin: 0px 25px;
}
section.main.content > ul.tablist,
section.main.content > ul.tablist-content {
  zoom: 1;
  margin: 0px;
  padding: 20px 0px 10px;
  list-style: none;
}
section.main.content > ul.tablist:before,
section.main.content > ul.tablist-content:before,
section.main.content > ul.tablist:after,
section.main.content > ul.tablist-content:after {
  content: "";
  display: table;
}
section.main.content > ul.tablist:after,
section.main.content > ul.tablist-content:after {
  clear: both;
}
section.main.content > ul.tablist > li > blockquote,
section.main.content > ul.tablist-content > li > blockquote {
  width: 900px;
  margin: 0px;
  text-align: left;
}
section.main.content .destaque {
  width: 55%;
  margin: 25px auto 15px;
  padding: 15px;
  border: solid 3px #8296a2;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
section.main.content > ul.tablist {
  border-bottom: solid 2px #dcdcdc;
  font-family: Cambria, Georgia, serif;
}
section.main.content > ul.tablist > li {
  display: block;
  float: left;
  text-align: center;
  vertical-align: top;
  color: #505050;
  font-size: 0.9em;
  font-weight: bold;
}
section.main.content > ul.tablist > li.clickable {
  cursor: pointer;
}
section.main.content > ul.tablist > li > img,
section.main.content > ul.tablist > li > p > img {
  display: block;
  margin: 0px auto;
}
section.main.content > ul.tablist > li.clickable > img {
  opacity: 0.5;
  position: relative;
}
section.main.content > ul.tablist > li.clickable.active,
section.main.content > ul.tablist > li.clickable:hover {
  color: black;
}
section.main.content > ul.tablist > li.clickable.active > img,
section.main.content > ul.tablist > li.clickable:hover > img {
  opacity: 1;
}
section.main.content ul.tablist-content > li > blockquote {
  font-size: 0.9em;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}
section.main.content ul.tablist-content > li > blockquote h2 {
  margin: 0px;
  font-size: 1.1em;
}
section.main.content#principios > ul > li {
  width: 14.285714285714286%;
}
section.main.content#equipe > ul.tablist > li > img {
  opacity: 0.5;
  position: relative;
  left: -3px;
}
section.main.content#equipe > ul.tablist > li.active,
section.main.content#equipe > ul.tablist > li:hover {
  color: black;
}
section.main.content#equipe > ul.tablist > li.active > img,
section.main.content#equipe > ul.tablist > li:hover > img {
  opacity: 1;
}
section.main.content#equipe > ul.tablist > li:last-child > img {
  left: -10px;
}
section.main.content#historico p {
  margin: 30px 0px;
}
section.main.content#historico img.form {
  float: right;
  margin: 20px 30px 20px 80px;
}
section.main.content#historico img.vote {
  float: left;
  margin: 20px 80px 20px 30px;
}
section.main.content#historico img.maps {
  float: right;
  margin: 30px 30px 30px 80px;
}
section.main.content#parceiros-divulgacao .destaque {
  width: 70%;
}
section.main.content#parceiros-tecnicos .destaque {
  width: 70%;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote h2 {
  font-size: 1.4em;
  margin-top: 30px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#georef {
  float: right;
  margin: 230px 20px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#colab {
  float: left;
  margin: 210px 50px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#bigdata {
  float: right;
  margin: 130px 20px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#marco {
  float: right;
  margin: 210px 20px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#dados {
  float: left;
  margin: 220px 50px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#acesso {
  float: right;
  margin: 210px 20px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#legis {
  float: left;
  margin: 380px 50px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#rede {
  float: right;
  margin: 190px 20px;
}
section.main.content#metodologia-cenario ul.tablist-content > li > blockquote img#incidencia {
  float: left;
  margin: 150px 50px;
}
section.main.content#metodologia-objetivos img#objetivo {
  float: left;
  margin: 40px 50px;
}
section.main.content#colabore-doacoes #conta {
  width: 45%;
  float: left;
}
section.main.content#colabore-doacoes #paypal,
section.main.content#colabore-doacoes #equipamentos {
  width: 27%;
  float: left;
}
section.main.content#colabore-doacoes #conta td {
  vertical-align: top;
}
section.main.content#colabore-doacoes #conta td:first-child {
  width: 110px;
  text-align: right;
  font-weight: bold;
}
