/*
 * Global
 * ------
 */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Cambria, Georgia, serif;
    font-size: 0.9em;
}

p {
    font-family:Calibri, "Trebuchet MS", Verdana, sans-serif;
}

header.main,
section.content.main,
footer.main {
    width: 900px;
    margin: 0 auto;
}


/*
 * Mixins
 * ------
 */
.clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear:both;
    }
}

/*
 * Header
 * ------
 */
header.main {
    margin-top: 40px;

    .logo {
        display: inline-block;
        height: 130px;
        margin: 0px;

        a {
            display: inline-block;
            width: 160px;
            height: 130px;
            color: transparent;
            background: url(../images/logo.png) no-repeat;
            text-ident: -1000px;
        }
    }

    .tagline {
        display: inline-block;
        width: 500px;
        margin: 0px 0px 0px 50px;
        vertical-align: bottom;
        font-size: 1.65em;
        color: #f39200;
    }

    nav.main {
        @n_items: 7;

        margin: 40px 0px;

        > ul {
            .clearfix;

            margin: 0px;
            padding: 0px;
            position: relative;

            > li {
                display: block;
                float: left;
                width: (100% / @n_items);
                margin: 0px;
                padding: 0px;
                position: relative;

                &.hidden {
                    display: none;
                }

                ul.submenu {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    position: absolute;
                    list-style: none;
                    background: #fee6c8;

                    > li {
                        margin: 0px;
                        padding: 0px;

                        &:first-child {
                            margin: 10px 0px 0px;
                        }

                        &:last-child {
                            margin: 0px 0px 10px;
                        }

                        > a {
                            padding: 4px 12px;
                            font-size: 0.75em;
                            line-height: 1.1em;

                            &:hover {
                                color: #f39200;
                                background: #fff0e3;
                            }
                        }
                    }
                }

                &:hover {
                    > ul.submenu {
                        height: auto;
                    }

                    > a {
                        border-top: 3px solid #f39200;
                        color: black;
                        background: #fee6c8;
                    }
                }

                a {
                    display: block;
                    color: #505050;
                    text-decoration: none;
                    font-weight: bold;
                }

                > a {
                    padding: 10px;
                    border-top: 3px solid #ddd;

                    &:hover,
                    &.active {
                        border-top: 3px solid #f39200;
                        color: black;
                        background: #fee6c8;
                    }

                }
            }
        }

        .submenu {
            height: 0px;
            overflow: hidden;
        }
    }

}

/*
 * Footer
 * ------
 */
footer.main {
    border-top: solid 1px #aaa;
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 0.9em;

    &,
    a {
        color: #505050;
    }

    > div {
        vertical-align: top;
    }

    .contact {
        display: inline-block;
        width: 280px;

        .address {
            display: block;
            margin: 0px 0px 15px;
            padding-left: 20px;
            background: url(../images/icons/address.png) no-repeat;
        }

        .phone {
            display: inline-block;
            min-height: 20px;
            padding-left: 20px;
            background: url(../images/icons/phone.png) no-repeat 2px;
        }

        .email {
            display: inline-block;
            min-height: 20px;
            margin-left: 8px;
            padding-left: 20px;
            background: url(../images/icons/email.png) no-repeat 0px;
        }
    }

    .supporters {
        display: inline-block;
        width: 500px;

        a {
            text-decoration: none;

            img {
                border: none;
            }
        }

        h1 {
            margin: 0px 0px 15px;
           font-size: 1em;
        }

        ul {
            &,
            li {
                display: inline;
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

            .instituto-cea {
                margin-left: 30px;
            }

            .acesso-informacao {
                margin-left: 150px;
            }
        }
    }
}

/*
 * Pages
 * -----
 */

section.main.content {

    /*
     * Sobre
     * -----
     */
    &#sobre {
        > p.content {
            margin-bottom: 70px;
        }

        img.visao {
          float: right;
          margin: 0px 25px;
        }

        img.missao {
          float: left;
          margin: 0px 25px;
        }
    }

    /*
     * Sobre > Valores e principios
     * ----------------------------
     */
    &#principios {
        > ul {
            @n_items: 7;

            .clearfix;

            margin: 0px;
            padding: 50px 0px 10px;
            list-style: none;
            border-bottom: solid 2px #dcdcdc;

            > li {
                display: block;
                float: left;
                width: (100% / @n_items);
                text-align: center;
                vertical-align: top;

                color: #505050;
                font-size: 0.9em;
                font-weight: bold;

            }
        }

    }

}
