<footer class="main">
  <div class="contact">
    <span class="address">Ruas Emiliano Cardoso de Mello, 34 <br /> Vila Butantã <br /> CEP 05360-000 São Paulo SP Brasil</span>
    <span class="phone">11 3476 8025</span>
    <span class="email"><a href="mailto:contato@it3s.org">contato@it3s.org</a></span>
  </div>
  <div class="supporters">
    <h1>{{ gettext('Apoio institucional') }}</h1>
    <ul>
      <li class="instituto-cea">
        <a href="http://www.institutocea.org.br/">
          <img src="{{ url_for('static', filename='images/supporters/instituto_cea.png') }}" alt="Instituto C&A" />
        </a>
      </li>
      <li class="acesso-informacao">
        <a href="http://www.acessoainformacao.gov.br/">
          <img src="{{ url_for('static', filename='images/supporters/acesso_a_informacao.png') }}" alt="Acesso à informação" />
        </a>
      </li>
    </ul>
  </div>
  <div class="social-media"></div>
</footer>
